<%= content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">edit profile</li>
  </ol>
<% end %>

<h1>Edit Your Profile</h1>
<%= render 'profileform' %>
