<div class="container">
  <div class="row story-image">
    <div class="col-sm-12">
      <img src= "http://www.salesengine.com/wp-content/uploads/2013/04/Whats-Your-Story-.jpg"/>
    </div>
  </div>
  <div class="row landing-content">
    <div class="col-sm-12">
      <h1>Welcome to StoryPieced!</h1>
      <p>
        Storypieced is a collaborative story-telling platform where friends can create a fiction, non-fiction or even autobiography together.
      </p>
      <p>
        The platform allow users to start a story and invite friends to write the next sets of paragraphs. You can create private or public stories. For public stories you can contribute without being invited!
      </p>
      <p>
        See how the story develops! A mix of improvisation, creativity and humour – you will be surprised where the story leads! Unleash your creative juices and take part in collaborative story telling guaranteed to leave you entertained!
      </p>
    </div>
  </div>
</div>
