<%= content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Stories', stories_path %></li>
    <li class="active">New Story</li>
  </ol>
<% end %>

<h1>Editing Story</h1>
<%= render 'form' %>
